main
.DS_*
mock/books/*
.DS_Store
mock/screenshots/*
mock/bin/*
mock/bin/!*.toml
mock/bin/app
handler_screen/lib/waveshare_epd/__init__.py
handler_screen/lib/waveshare_epd/__init__.pyc
handler_screen/lib/waveshare_epd/DEV_Config_32.so
handler_screen/lib/waveshare_epd/DEV_Config_64.so
handler_screen/lib/waveshare_epd/epd1in02.py
handler_screen/lib/waveshare_epd/epd1in54_V2.py
handler_screen/lib/waveshare_epd/epd1in54.py
handler_screen/lib/waveshare_epd/epd1in54b_V2.py
handler_screen/lib/waveshare_epd/epd1in54b.py
handler_screen/lib/waveshare_epd/epd1in54c.py
handler_screen/lib/waveshare_epd/epd1in64g.py
handler_screen/lib/waveshare_epd/epd2in7_V2.py
handler_screen/lib/waveshare_epd/epd2in7.py
handler_screen/lib/waveshare_epd/epd2in7b_V2.py
handler_screen/lib/waveshare_epd/epd2in7b.py
handler_screen/lib/waveshare_epd/epd2in9_V2.py
handler_screen/lib/waveshare_epd/epd2in9.py
handler_screen/lib/waveshare_epd/epd2in9b_V3.py
handler_screen/lib/waveshare_epd/epd2in9b_V4.py
handler_screen/lib/waveshare_epd/epd2in9bc.py
handler_screen/lib/waveshare_epd/epd2in9d.py
handler_screen/lib/waveshare_epd/epd2in13_V2.py
handler_screen/lib/waveshare_epd/epd2in13_V3.py
handler_screen/lib/waveshare_epd/epd2in13_V4.py
handler_screen/lib/waveshare_epd/epd2in13.py
handler_screen/lib/waveshare_epd/epd2in13b_V3.py
handler_screen/lib/waveshare_epd/epd2in13b_V4.py
handler_screen/lib/waveshare_epd/epd2in13bc.py
handler_screen/lib/waveshare_epd/epd2in13d.py
handler_screen/lib/waveshare_epd/epd2in13g.py
handler_screen/lib/waveshare_epd/epd2in15b.py
handler_screen/lib/waveshare_epd/epd2in15g.py
handler_screen/lib/waveshare_epd/epd2in36g.py
handler_screen/lib/waveshare_epd/epd2in66.py
handler_screen/lib/waveshare_epd/epd2in66b.py
handler_screen/lib/waveshare_epd/epd2in66g.py
handler_screen/lib/waveshare_epd/epd3in0g.py
handler_screen/lib/waveshare_epd/epd3in7.py
handler_screen/lib/waveshare_epd/epd3in52.py
handler_screen/lib/waveshare_epd/epd4in01f.py
handler_screen/lib/waveshare_epd/epd4in2_V2.py
handler_screen/lib/waveshare_epd/epd4in2.py
handler_screen/lib/waveshare_epd/epd4in2b_V2_old.py
handler_screen/lib/waveshare_epd/epd4in2b_V2_old.pyc
handler_screen/lib/waveshare_epd/epd4in2b_V2.py
handler_screen/lib/waveshare_epd/epd4in2b_V2.pyc
handler_screen/lib/waveshare_epd/epd4in2bc.py
handler_screen/lib/waveshare_epd/epd4in26.py
handler_screen/lib/waveshare_epd/epd4in37g.py
handler_screen/lib/waveshare_epd/epd5in65f.py
handler_screen/lib/waveshare_epd/epd5in79.py
handler_screen/lib/waveshare_epd/epd5in79b.py
handler_screen/lib/waveshare_epd/epd5in79g.py
handler_screen/lib/waveshare_epd/epd5in83_V2.py
handler_screen/lib/waveshare_epd/epd5in83.py
handler_screen/lib/waveshare_epd/epd5in83b_V2.py
handler_screen/lib/waveshare_epd/epd5in83bc.py
handler_screen/lib/waveshare_epd/epd7in3e.py
handler_screen/lib/waveshare_epd/epd7in3e.pyc
handler_screen/lib/waveshare_epd/epd7in3f.py
handler_screen/lib/waveshare_epd/epd7in3f.pyc
handler_screen/lib/waveshare_epd/epd7in3g.py
handler_screen/lib/waveshare_epd/epd7in5_HD.py
handler_screen/lib/waveshare_epd/epd7in5_V2_old.py
handler_screen/lib/waveshare_epd/epd7in5_V2.py
handler_screen/lib/waveshare_epd/epd7in5_V2.pyc
handler_screen/lib/waveshare_epd/epd7in5.py
handler_screen/lib/waveshare_epd/epd7in5b_HD.py
handler_screen/lib/waveshare_epd/epd7in5b_V2_old.py
handler_screen/lib/waveshare_epd/epd7in5b_V2.py
handler_screen/lib/waveshare_epd/epd7in5bc.py
handler_screen/lib/waveshare_epd/epd13in3b.py
handler_screen/lib/waveshare_epd/epd13in3k.py
handler_screen/lib/waveshare_epd/epdconfig.py
handler_screen/lib/waveshare_epd/epdconfig.pyc
handler_screen/lib/waveshare_epd/sysfs_gpio.so
handler_screen/lib/waveshare_epd/sysfs_software_spi.so
handler_screen/lib/waveshare_epd/__pycache__/__init__.cpython-37.pyc
handler_screen/lib/waveshare_epd/__pycache__/__init__.cpython-311.pyc
handler_screen/lib/waveshare_epd/__pycache__/epd2in13_V3.cpython-311.pyc
handler_screen/lib/waveshare_epd/__pycache__/epd2in13_V4.cpython-311.pyc
handler_screen/lib/waveshare_epd/__pycache__/epd4in2b_V2.cpython-37.pyc
handler_screen/lib/waveshare_epd/__pycache__/epd5in79b.cpython-37.pyc
handler_screen/lib/waveshare_epd/__pycache__/epd5in79g.cpython-37.pyc
handler_screen/lib/waveshare_epd/__pycache__/epd5in83b_V2.cpython-37.pyc
handler_screen/lib/waveshare_epd/__pycache__/epd7in3e.cpython-37.pyc
handler_screen/lib/waveshare_epd/__pycache__/epd7in5_V2.cpython-311.pyc
handler_screen/lib/waveshare_epd/__pycache__/epd7in5b_V2.cpython-37.pyc
handler_screen/lib/waveshare_epd/__pycache__/epd13in3k.cpython-37.pyc
handler_screen/lib/waveshare_epd/__pycache__/epdconfig.cpython-37.pyc
handler_screen/lib/waveshare_epd/__pycache__/epdconfig.cpython-311.pyc
handler_screen/pic/1.64inch-1.bmp
handler_screen/pic/1.64inch-2.bmp
handler_screen/pic/01.bmp
handler_screen/pic/1in02.bmp
handler_screen/pic/1in54.bmp
handler_screen/pic/1in54b-b.bmp
handler_screen/pic/1in54b-r.bmp
handler_screen/pic/1in54c-b.bmp
handler_screen/pic/1in54c-y.bmp
handler_screen/pic/2.15__b.bmp
handler_screen/pic/2.15__r.bmp
handler_screen/pic/2.36inch-1.bmp
handler_screen/pic/2.36inch-2.bmp
handler_screen/pic/2.66__b.bmp
handler_screen/pic/2.66__r.bmp
handler_screen/pic/2.66inch.bmp
handler_screen/pic/2in7_Scale.bmp
handler_screen/pic/2in7.bmp
handler_screen/pic/2in7b-b.bmp
handler_screen/pic/2in7b-r.bmp
handler_screen/pic/2in9_1.bmp
handler_screen/pic/2in9_2.bmp
handler_screen/pic/2in9_Scale.bmp
handler_screen/pic/2in9.bmp
handler_screen/pic/2in9bc-b.bmp
handler_screen/pic/2in9bc-ry.bmp
handler_screen/pic/2in9d.bmp
handler_screen/pic/2in13_1.bmp
handler_screen/pic/2in13_2.bmp
handler_screen/pic/2in13_b1.bmp
handler_screen/pic/2in13_y1.bmp
handler_screen/pic/2in13-v2.bmp
handler_screen/pic/2in13.bmp
handler_screen/pic/2in13b_V4b.bmp
handler_screen/pic/2in13b_V4r.bmp
handler_screen/pic/2in13bc-b.bmp
handler_screen/pic/2in13bc-ry.bmp
handler_screen/pic/2in13d_1.bmp
handler_screen/pic/2in13d.bmp
handler_screen/pic/2in13g.bmp
handler_screen/pic/2in15g.bmp
handler_screen/pic/2in66.bmp
handler_screen/pic/2in66b_b.bmp
handler_screen/pic/2in66b_b1.bmp
handler_screen/pic/2in66b_r.bmp
handler_screen/pic/2in66b_r1.bmp
handler_screen/pic/2in66g.bmp
handler_screen/pic/3in7_4gray1.bmp
handler_screen/pic/3in7_4gray2.bmp
handler_screen/pic/3in7_Scale.bmp
handler_screen/pic/3in7.bmp
handler_screen/pic/3in52-1.bmp
handler_screen/pic/3in52-2.bmp
handler_screen/pic/3in52-3.bmp
handler_screen/pic/3inch-1.bmp
handler_screen/pic/3inch-2.bmp
handler_screen/pic/3inch-3.bmp
handler_screen/pic/4.01inch-e-Paper.bmp
handler_screen/pic/4.2 m.bmp
handler_screen/pic/4.2-B.bmp
handler_screen/pic/4.2-R.bmp
handler_screen/pic/4in01-1.bmp
handler_screen/pic/4in01-2.bmp
handler_screen/pic/4in01-3.bmp
handler_screen/pic/4in01-4.bmp
handler_screen/pic/4in01f.bmp
handler_screen/pic/4in01f1.bmp
handler_screen/pic/4in2_1.bmp
handler_screen/pic/4in2_B.bmp
handler_screen/pic/4in2_Pico.bmp
handler_screen/pic/4in2_R.bmp
handler_screen/pic/4in2_Scale_1.bmp
handler_screen/pic/4in2_Scale_2.bmp
handler_screen/pic/4in2_Scale.bmp
handler_screen/pic/4in2.bmp
handler_screen/pic/4in2b-b.bmp
handler_screen/pic/4in2b-r.bmp
handler_screen/pic/4in2c-b.bmp
handler_screen/pic/4in2c-y.bmp
handler_screen/pic/4in26_Scale.bmp
handler_screen/pic/4in37g0.jpg
handler_screen/pic/4in37g1.jpg
handler_screen/pic/4in37g2.jpg
handler_screen/pic/5.83_V2_0.bmp
handler_screen/pic/5in65_n0.bmp
handler_screen/pic/5in65_n1.bmp
handler_screen/pic/5in65_n2.bmp
handler_screen/pic/5in65_n3.bmp
handler_screen/pic/5in65_n4.bmp
handler_screen/pic/5in65_n5.bmp
handler_screen/pic/5in65f.bmp
handler_screen/pic/5in65f0.bmp
handler_screen/pic/5in65f1.bmp
handler_screen/pic/5in65f2.bmp
handler_screen/pic/5in65f3.bmp
handler_screen/pic/5in65f4.bmp
handler_screen/pic/5in79_Scale.bmp
handler_screen/pic/5in79.bmp
handler_screen/pic/5in79b_b.bmp
handler_screen/pic/5in79b_r.bmp
handler_screen/pic/5in79g.bmp
handler_screen/pic/5in83_V2.bmp
handler_screen/pic/5in83.bmp
handler_screen/pic/5in83b_V2_b.bmp
handler_screen/pic/5in83b_V2_r.bmp
handler_screen/pic/5in83b_V2.bmp
handler_screen/pic/5in83bc-b.bmp
handler_screen/pic/5in83bc-ry.bmp
handler_screen/pic/7.3inch-1.bmp
handler_screen/pic/7.3inch-2.bmp
handler_screen/pic/7.3inch-3.bmp
handler_screen/pic/7in3e.bmp
handler_screen/pic/7in3f1.bmp
handler_screen/pic/7in3f3.bmp
handler_screen/pic/7in5_HD_b.bmp
handler_screen/pic/7in5_HD_r.bmp
handler_screen/pic/7in5_HD.bmp
handler_screen/pic/7in5_V2_b.bmp
handler_screen/pic/7in5_V2_r.bmp
handler_screen/pic/7in5_V2.bmp
handler_screen/pic/7in5.bmp
handler_screen/pic/7in5b-b.bmp
handler_screen/pic/7in5b-r.bmp
handler_screen/pic/7in5c-b.bmp
handler_screen/pic/7in5c-r.bmp
handler_screen/pic/13in3.bmp
handler_screen/pic/13in3b_b.bmp
handler_screen/pic/13in3b_r.bmp
handler_screen/pic/13in3k_Scale.bmp
handler_screen/pic/42.bmp
handler_screen/pic/100x100.bmp
handler_screen/pic/Color7.bmp
handler_screen/pic/Font.ttc
handler_screen/pic/image_black.bmp
handler_screen/pic/image_red.bmp
handler_screen/pic/image.bmp
handler_screen/pic/N-Color1.bmp
